.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  text-align: center;
  text-shadow: 1px 1px 0px #ffffffd9;
  color: #35646e;
}

.box {
  font-size: 9px;
  font-weight: 500;
  line-height: 9px;
  text-align: center;
}
